In [3]:
# bibliotecas
from selenium import webdriver
from time import sleep
from selenium.webdriver import Chrome
import pandas as pd
from time import sleep
import re

In [3]:
op = webdriver.ChromeOptions()
url = 'https://olympics.com/pt/olympic-games/rio-2016/medals?utm_source=google&utm_medium=essence-paid&utm_campaign=google_cpc_br_bau_hybrid_portuguese&utm_content=google_cpc_br_bau_hybrid_pt_na_na_dynamic_na&gclid=Cj0KCQjw6s2IBhCnARIsAP8RfAhsvUp15BzR54l73j-2KFnIfoniNyBnaarfARq5SWf1SE2TdArJDmAaAngsEALw_wcB&gclsrc=aw.ds'

In [4]:
def obter_driver():
    return webdriver.Chrome()

In [5]:
def scraping(link):
    driver = obter_driver()
    driver.get(link)
    sleep(4)
    
    cookies= driver.find_element_by_xpath("""//*[@id="onetrust-accept-btn-handler"]""")
    cookies.click()  
    
    sleep(3) #clicar para ordenar
    
    paises_ = driver.find_elements_by_class_name('styles__CountryWrapper-sc-fehzzg-4.IzmaI')
    lst_paises = []
    for paises in paises_:
        lst_paises.append(paises.text)
    print(lst_paises)
    print(' ')
    
    medalhas = driver.find_elements_by_class_name('Medalstyles__Wrapper-sc-1tu6huk-0.jUTlVC')
    
    ouro = []
    prata = []
    bronze = []
    total = []
    txt_medalhas = []
    for texto_medalhas in medalhas:
        txt_medalhas.append(texto_medalhas.text)
    for i in range(0, len(txt_medalhas), 4):
        ouro.append(txt_medalhas[i])
        prata.append(txt_medalhas[i+1])
        bronze.append(txt_medalhas[i+2])
        total.append(txt_medalhas[i+3])
    display(ouro, prata, bronze, total)
    print(' ')
    
    # df.options_display_max_rows = 86
    pd.options.display.max_rows = 999
    col = []
    for i in range(1,len(lst_paises)+1):
        col.append(i)
    df = pd.DataFrame({'Colocação' : col, 'País' : lst_paises, 'Ouro' : ouro, 'Prata' : prata, 'Bronze' : bronze, 'Total' : total})
    display(df)
    print(' ')
    # df.to_csv('olimpiada_colocação2016_.csv', index= False, sep = ';', encoding="utf-8")

In [8]:
scraping(url)

['Estados Unidos da América', 'República Popular da China', 'Reino Unido', 'Federação Russa', 'França ', 'Alemanha ', 'Japão', 'Austrália ', 'Itália ', 'Canadá', 'República da Coreia', 'Brasil', 'Países Baixos', 'Azerbaijão', 'Cazaquistão', 'Nova Zelândia', 'Espanha ', 'Dinamarca ', 'Hungria', 'Usbequistão', 'Quênia', 'Polônia', 'Ucrânia', 'Suécia', 'Cuba', 'Jamaica', 'República Checa', 'África do Sul ', 'Croácia', 'Bielorrússia', 'Etiópia ', 'Turquia', 'Sérvia ', 'República Islâmica do Irã', 'Colômbia ', 'Geórgia', 'República Popular Democrática da Coreia', 'Suíça', 'Bélgica', 'Tailândia', 'Grécia', 'México', 'Malásia', 'Noruega', 'Lituânia', 'Romênia', 'Eslovênia', 'Armênia', 'Eslováquia ', 'Argentina', 'Egito', 'Tunísia', 'Bulgária ', 'Venezuela', 'Chinese Taipei', 'Indonésia ', 'Israel', 'Mongólia', 'Índia ', 'Argélia ', 'Irlanda', 'Atletas Olímpicos Independentes', 'Bahamas', 'Costa do Marfim', 'Vietnã', 'Bahrein', 'Portugal', 'Emirados Árabes Unidos', 'Áustria ', 'República Dominicana', 'Estônia', 'Finlândia ', 'Nigéria ', 'Marrocos ', 'Trindade e Tobago', 'Niger', 'Granada', 'Catar', 'Filipinas', 'Burúndi', 'Jordânia ', 'Cingapura', 'Fiji', 'Tajiquistão', 'Porto Rico', 'Kosovo']

['46',
 '26',
 '27',
 '19',
 '10',
 '17',
 '12',
 '8',
 '8',
 '4',
 '9',
 '7',
 '8',
 '1',
 '3',
 '4',
 '7',
 '2',
 '8',
 '4',
 '6',
 '2',
 '2',
 '2',
 '5',
 '6',
 '1',
 '2',
 '5',
 '1',
 '1',
 '1',
 '2',
 '3',
 '3',
 '2',
 '2',
 '3',
 '2',
 '2',
 '3',
 '-',
 '-',
 '-',
 '-',
 '1',
 '1',
 '1',
 '2',
 '3',
 '-',
 '-',
 '-',
 '-',
 '1',
 '1',
 '-',
 '-',
 '-',
 '-',
 '-',
 '1',
 '1',
 '1',
 '1',
 '1',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1']

['37',
 '18',
 '23',
 '17',
 '18',
 '10',
 '8',
 '11',
 '12',
 '3',
 '3',
 '6',
 '7',
 '7',
 '5',
 '9',
 '4',
 '6',
 '3',
 '2',
 '6',
 '3',
 '5',
 '6',
 '2',
 '3',
 '2',
 '6',
 '3',
 '4',
 '2',
 '3',
 '4',
 '1',
 '2',
 '1',
 '3',
 '2',
 '2',
 '2',
 '1',
 '3',
 '4',
 '-',
 '1',
 '1',
 '2',
 '3',
 '2',
 '1',
 '-',
 '-',
 '1',
 '2',
 '-',
 '2',
 '-',
 '1',
 '1',
 '2',
 '2',
 '-',
 '-',
 '-',
 '1',
 '1',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '1',
 '1',
 '1',
 '1',
 '1',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

['38',
 '26',
 '17',
 '20',
 '14',
 '15',
 '21',
 '10',
 '8',
 '15',
 '9',
 '6',
 '4',
 '10',
 '10',
 '5',
 '6',
 '7',
 '4',
 '7',
 '1',
 '6',
 '4',
 '3',
 '4',
 '2',
 '7',
 '2',
 '2',
 '4',
 '5',
 '4',
 '2',
 '4',
 '3',
 '4',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '4',
 '3',
 '2',
 '1',
 '-',
 '-',
 '-',
 '3',
 '3',
 '2',
 '1',
 '2',
 '-',
 '2',
 '1',
 '1',
 '-',
 '-',
 '1',
 '1',
 '1',
 '-',
 '-',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-']

['121',
 '70',
 '67',
 '56',
 '42',
 '42',
 '41',
 '29',
 '28',
 '22',
 '21',
 '19',
 '19',
 '18',
 '18',
 '18',
 '17',
 '15',
 '15',
 '13',
 '13',
 '11',
 '11',
 '11',
 '11',
 '11',
 '10',
 '10',
 '10',
 '9',
 '8',
 '8',
 '8',
 '8',
 '8',
 '7',
 '7',
 '7',
 '6',
 '6',
 '6',
 '5',
 '5',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '4',
 '3',
 '3',
 '3',
 '3',
 '3',
 '3',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '2',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1',
 '1']

    Colocação                                     País Ouro Prata Bronze Total
0           1                Estados Unidos da América   46    37     38   121
1           2               República Popular da China   26    18     26    70
2           3                              Reino Unido   27    23     17    67
3           4                          Federação Russa   19    17     20    56
4           5                                  França    10    18     14    42
5           6                                Alemanha    17    10     15    42
6           7                                    Japão   12     8     21    41
7           8                               Austrália     8    11     10    29
8           9                                  Itália     8    12      8    28
9          10                                   Canadá    4     3     15    22
10         11                      República da Coreia    9     3      9    21
11         12                                   Brasil    7     6      6    19
12         13                            Países Baixos    8     7      4    19
13         14                               Azerbaijão    1     7     10    18
14         15                              Cazaquistão    3     5     10    18
15         16                            Nova Zelândia    4     9      5    18
16         17                                 Espanha     7     4      6    17
17         18                               Dinamarca     2     6      7    15
18         19                                  Hungria    8     3      4    15
19         20                              Usbequistão    4     2      7    13
20         21                                   Quênia    6     6      1    13
21         22                                  Polônia    2     3      6    11
22         23                                  Ucrânia    2     5      4    11
23         24                                   Suécia    2     6      3    11
24         25                                     Cuba    5     2      4    11
25         26                                  Jamaica    6     3      2    11
26         27                          República Checa    1     2      7    10
27         28                           África do Sul     2     6      2    10
28         29                                  Croácia    5     3      2    10
29         30                             Bielorrússia    1     4      4     9
30         31                                 Etiópia     1     2      5     8
31         32                                  Turquia    1     3      4     8
32         33                                  Sérvia     2     4      2     8
33         34                República Islâmica do Irã    3     1      4     8
34         35                                Colômbia     3     2      3     8
35         36                                  Geórgia    2     1      4     7
36         37  República Popular Democrática da Coreia    2     3      2     7
37         38                                    Suíça    3     2      2     7
38         39                                  Bélgica    2     2      2     6
39         40                                Tailândia    2     2      2     6
40         41                                   Grécia    3     1      2     6
41         42                                   México    -     3      2     5
42         43                                  Malásia    -     4      1     5
43         44                                  Noruega    -     -      4     4
44         45                                 Lituânia    -     1      3     4
45         46                                  Romênia    1     1      2     4
46         47                                Eslovênia    1     2      1     4
47         48                                  Armênia    1     3      -     4
48         49                              Eslováquia     2     2      -     4
49         50                                Argentina    3     1      -     4
50         51                                    Egito    -     -      3     3
51         52                                  Tunísia    -     -      3     3
52         53                                Bulgária     -     1      2     3
53         54                                Venezuela    -     2      1     3
54         55                           Chinese Taipei    1     -      2     3
55         56                               Indonésia     1     2      -     3
56         57                                   Israel    -     -      2     2
57         58                                 Mongólia    -     1      1     2
58         59                                   Índia     -     1      1     2
59         60                                 Argélia     -     2      -     2
60         61                                  Irlanda    -     2      -     2
61         62          Atletas Olímpicos Independentes    1     -      1     2
62         63                                  Bahamas    1     -      1     2
63         64                          Costa do Marfim    1     -      1     2
64         65                                   Vietnã    1     1      -     2
65         66                                  Bahrein    1     1      -     2
66         67                                 Portugal    -     -      1     1
67         68                   Emirados Árabes Unidos    -     -      1     1
68         69                                 Áustria     -     -      1     1
69         70                     República Dominicana    -     -      1     1
70         71                                  Estônia    -     -      1     1
71         72                               Finlândia     -     -      1     1
72         73                                 Nigéria     -     -      1     1
73         74                                Marrocos     -     -      1     1
74         75                        Trindade e Tobago    -     -      1     1
75         76                                    Niger    -     1      -     1
76         77                                  Granada    -     1      -     1
77         78                                    Catar    -     1      -     1
78         79                                Filipinas    -     1      -     1
79         80                                  Burúndi    -     1      -     1
80         81                                Jordânia     1     -      -     1
81         82                                Cingapura    1     -      -     1
82         83                                     Fiji    1     -      -     1
83         84                              Tajiquistão    1     -      -     1
84         85                               Porto Rico    1     -      -     1
85         86                                   Kosovo    1     -      -     1

In [4]:
idh = pd.read_csv('./Data/idh_global2014.csv', sep=';')

idh

     Ranking IDH Global                       País    IDH
0                     1                    Noruega  0,944
1                     2                  Austrália  0,935
2                     3                      Suíça  0,930
3                     4                  Dinamarca  0,923
4                     5              Países Baixos  0,922
..                  ...                        ...    ...
183                 184                    Burundi  0,400
184                 185                      Chade  0,392
185                 186                    Eritrea  0,391
186                 187  República Centro Africana  0,350
187                 188                      Níger  0.348

[188 rows x 3 columns]

In [5]:
ranking_format = pd.read_csv('./Data/idh_global2014_format.xls', sep = ';')
# ranking_format = ranking_format.set_index('Colocação')
ranking_format['País'].iloc[7] = 'Austrália' 
ranking_format = ranking_format.drop([83,84,85])

ranking_format

C:\Users\bru30\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

    Colocação             País Ouro Prata Bronze  Total
0         1.0   Estados Unidos   46    37     38  121.0
1         2.0            China   26    18     26   70.0
2         3.0      Reino Unido   27    23     17   67.0
3         4.0  Federação Russa   19    17     20   56.0
4         5.0           França   10    18     14   42.0
..        ...              ...  ...   ...    ...    ...
78       79.0          Burundi    -     1      -    1.0
79       80.0         Jordânia    1     -      -    1.0
80       81.0        Singapura    1     -      -    1.0
81       82.0             Fiji    1     -      -    1.0
82       83.0      Tajiquistão    1     -      -    1.0

[83 rows x 6 columns]

In [16]:

join_all = ranking_format.merge(idh, left_on='País', right_on='País')
join_all = join_all.sort_values(by='Ranking IDH Global')
join_all = join_all.rename_axis('index').reset_index()
join_all = join_all.drop(['index'], axis=1)
join_all['Total']= join_all['Total'].astype(int)
join_all['Colocação']= join_all['Colocação'].astype(int)
join_all['Ouro'] = join_all['Ouro'].astype(str).str.replace("-", "0").astype(int)
join_all['Prata'] = join_all['Prata'].astype(str).str.replace("-", "0").astype(int)
join_all['Bronze'] = join_all['Bronze'].astype(str).str.replace("-", "0").astype(int)
join_all['IDH'] = join_all['IDH'].astype(str).str.replace(",", ".").astype(float)

join_all

,Colocação,País,Ouro,Prata,Bronze,Total,Ranking IDH Global,IDH
0,44,Noruega,0,0,4,4,1,0.944
1,8,Austrália,8,11,10,29,2,0.935
2,38,Suíça,3,2,2,7,3,0.930
3,18,Dinamarca,2,6,7,15,4,0.923
4,13,Países Baixos,8,7,4,19,5,0.922
...,...,...,...,...,...,...,...,...
76,72,Nigéria,0,0,1,1,152,0.514
77,63,Costa do Marfim,1,0,1,2,172,0.462
78,31,Etiópia,1,2,5,8,174,0.442
79,79,Burundi,0,1,0,1,184,0.400
80,75,Níger,0,1,0,1,188,0.348

In [7]:
ranking_pais = ranking_format[['País', 'Colocação']]

ranking_pais

               País  Colocação
0    Estados Unidos        1.0
1             China        2.0
2       Reino Unido        3.0
3   Federação Russa        4.0
4            França        5.0
..              ...        ...
78          Burundi       79.0
79         Jordânia       80.0
80        Singapura       81.0
81             Fiji       82.0
82      Tajiquistão       83.0

[83 rows x 2 columns]

In [25]:
join_rank = ranking_pais.merge(join_all, left_on='País', right_on='País')
join_rank.drop('Colocação_x',axis=1, inplace=True)
join_rank = join_rank.rename(columns={'Colocação_y':'Colocação'})

display(join_rank)
# join_rank.info()
# join_rank.to_csv('./Data/idh_com_colocacao.csv', index=False)

,País,Colocação,Ouro,Prata,Bronze,Total,Ranking IDH Global,IDH
0,Estados Unidos,1,46,37,38,121,8,0.915
1,China,2,26,18,26,70,90,0.727
2,Reino Unido,3,27,23,17,67,14,0.907
3,Federação Russa,4,19,17,20,56,50,0.798
4,França,5,10,18,14,42,22,0.888
...,...,...,...,...,...,...,...,...
78,Burundi,79,0,1,0,1,184,0.400
79,Jordânia,80,1,0,0,1,80,0.748
80,Singapura,81,1,0,0,1,11,0.912
81,Fiji,82,1,0,0,1,90,0.727
82,Tajiquistão,83,1,0,0,1,129,0.624

In [10]:
# Média de IDH dos primeiros 10 países
print(round(join_rank.loc[0:10, 'IDH'].mean(), 2))

# Média de IDH dos 10 países do meio
print(round(join_rank.loc[34:44, 'IDH'].mean(), 2))

# Média de IDH dos últimos 10 países
print(round(join_rank.loc[70:80, 'IDH'].mean(), 2))

0.88
0.82
0.68

In [11]:
# Média do ranking IDH global dos primeiros 10 países
print(join_rank.loc[0:10, 'Ranking IDH Global'].mean().astype(int), end='')
print('°')

# Média do ranking IDH global dos 10 países do meio
print(join_rank.loc[34:44, 'Ranking IDH Global'].mean().astype(int), end='')
print('°')

# Média do ranking IDH global dos últimos 10 países
print(join_rank.loc[70:80, 'Ranking IDH Global'].mean().astype(int), end='')
print('°')

24°
49°
99°